* {
    box-sizing: border-box;
}

body {
    background-color: #fffffd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

h1, h4 {
    text-align: center;
    color: #FF8F00;
}

h3 {
    color: #FE53A6;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
}

#right {
    flex: 2.5;
    overflow: auto;
    border: 0.5px solid #474747;
    padding: 1em;
    height: 100vh;
}

#left {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;  
}

#char-remaining {
    text-align: right;
    font-size: 13px;
    color:#FF8F00;
}

.message-box {
    border: 2px solid #FF8F00;
    background-color: #fffffd;
    resize: none;
    outline: none;
    padding: 5px;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
}

.input-box {
    border: 2px solid #FF8F00;
    background-color: #fffffd;
    outline: none;
    padding: 5px;
    font-family: inherit;
    font-size: 14px;
}

.spaceout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.button {
    text-align: right;
}

.button-style {
    color: #FE53A6;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #eeeeee;
    cursor: pointer;
}

.button-style:hover {
    background-color: #dcdcdc;
}

#all-messages {
    text-align: center;
}

.message {
    padding: 5px;
}

.label {
    color: #FE53A6;
    font-weight: bold;
}

.label2 {
    color: #FF8F00;
    font-weight: bold;
}

#footer {
    background-color: #1F2040;
    padding: 1px;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
}

#footer a {
    color: #246B35;
    text-decoration: none;
}

#footer a:hover {
    color: #4CE06F;
    text-decoration: none;
}

@media only screen and (max-width: 830px) {
    #container {
        flex-direction: column;
        gap: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    h1, h4 {
        margin-left: 1em;
        margin-right: 1em;
    }
    #right {
        min-height: 40vh;
    }
    .spaceout {
        flex-direction: column;
    }
}